/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 15px;
    margin-bottom: 10px;
    border: solid 10px goldenrod;
    background-color:maroon ;
  }

  body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1;
    margin: 30px;
}

h1 {
    color: pink;
}

h2 {
    color: pink;
}

div {
    margin-bottom: 30px;
}

img {
    max-width: 100%;
    height: auto;
}
.special {
    background-color: maroon;
    border: dotted 50px orange;
    color: black;
    font-weight: bold;
}
/*formatting with help from ChatGBT